# Python
__pycache__/
*.pyc

# Logs
logs/raw/*
!logs/raw/.gitkeep

logs/parsed/*
!logs/parsed/.gitkeep

logs/faults/*
!logs/faults/.gitkeep

# Traces
traces/*
!traces/.gitkeep

# VSCode
.vscode/

# PlatformIO
.pio/

# Build Artifacts
build/
dist/

# OS Files
Thumbs.db
.DS_Store